<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ajwest.irishpoker"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:maxSdkVersion="14"
        android:minSdkVersion="9"
        android:targetSdkVersion="14" />

    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".Splashscreen" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:launchMode="standard"
            android:name=".IrishPokerActivity">
            <intent-filter >
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:launchMode="standard"
            android:name=".Round1">
            <intent-filter >
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:launchMode="standard"
            android:name=".Round2">
            <intent-filter >
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:launchMode="standard"
            android:name=".Round3">
            <intent-filter >
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
         <activity
            android:label="@string/app_name"
            android:launchMode="standard"
            android:name=".Round4">
            <intent-filter >
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
          <activity
            android:label="@string/app_name"
            android:launchMode="standard"
            android:name=".Rules">
            <intent-filter >
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:launchMode="standard"
            android:name=".Nextroundprompt">
            <intent-filter >
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
         <activity
            android:label="@string/app_name"
            android:launchMode="standard"
            android:name=".PreviousCards">
            <intent-filter >
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:launchMode="standard"
            android:name=".Options" >
            <intent-filter >
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:launchMode="standard"
            android:name=".CountDown" >
            <intent-filter >
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
    </application>

   <supports-screens
      android:anyDensity="true"/> 

</manifest>